:root{
    --couleurbl: blue;
}
body{
    width: 100%;
}
.n1{
    background-color: gray;
    width: 100%;
    height: 10%;
    margin: 5px 10px;
    display: flex;
    gap: 1200px;
}
.n1 h1{
    margin-left: 15px;
    font-size: 30px;
}
nav{
    float: right;
}
.n1 nav ul li{
    display: inline-block;
}
a{
    margin-right: 30px;
    text-decoration: none;
    font-size: 30px;
}
.n2{
    height: 200px;
    width: 100%;
    display: flex;
    margin: 10px 0px;
}
.div2_1{
    width: 60%;
    height: 100%;
    background-color: var(--couleurbl);
    margin: auto 5px;
}
.div2_2{
    width: 40%;
    height: 100%;
    margin: auto 5px;
    background-color: var(--couleurbl);
}
.n3{
    height: 200px;
    background-color: var(--couleurbl);
    margin: auto 5px;
}
.product{
    text-align: center;
}
.n4, .n5, .n6{
    display: flex;
    margin: 5px 5px;
    width: 100%;
    height: 200px;
}
.produits{
    background-color: var(--couleurbl);
    margin: auto 5px;
    width: 20%;
    height: 100%;
}
.pro{
    background-color: var(--couleurbl);
    width: 33%;
    height: 100%;
    margin: auto 5px;
}
.n7{
    background-color: rgba(0, 0, 0, 0.5);
    height: 50px;
    width: 100%;
}
.foot{
    color: white;
    text-align: center;
}
