:root{
    --couleurbl: rgb(219, 191, 138);
}
body{
    width: 100%;
}
.n1{
    background-color: #84b067;
    width: 100%;
    height: 10%;
    margin: 5px 10px;
    display: flex;
    gap: 1200px;
}
.n1 h1{
    margin-left: 15px;
    font-size: 30px;
}
nav{
    float: right;
}
.n1 nav ul li{
    display: inline-block;
}
a{
    margin-right: 30px;
    text-decoration: none;
    font-size: 30px;
    color: blue;
}
.n2{
    height: 600px;
    width: 100%;
    display: flex;
    margin: 10px 0px;
}
.div2_1{
    width: 60%;
    height: 100%;
    margin: auto 5px;
    overflow: hidden;
    border: 1px solid #84b067;
}
.detail-img{
    position: absolute;
    bottom: 30px;
    left: 35%;
    bottom: 50%;
    font-size: 24px;
    color: white;
    text-decoration: underline;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
}

.formulaire{
    height: 65%;
    width: 100%;
    border: 1px solid #84b067;
    border-radius: 10px;
}
label{
    font-size: 25px;
    font-weight: bold;
    color: #777;
    margin:15px 10px;
    
}
input{
    width: 90%;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #84b067;
    margin: 15px 5px 15px 50px;
}
.TitreNLetter{
    text-align: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.NewletterButtom{
    width: 120px;
    height: 35px;
    font-size: 20px;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 8px;
    margin: 5px 15px 10px 580px;
}
.diapo{
    position: relative;
    display: none;
    width: 100%;
}
.diapo img{
    width: 100%;
    height: 600px;
}
.div2_2{
    width: 40%;
    height: 100%;
    margin: auto 5px;
   
    overflow: hidden;
}
.descriptionSite{
    width: 100%;
    height: 35%;
    border: 1px solid #84b067;
    border-radius: 10px;
}
.descriptionSite p{
    font-size: 25px;
    color: #777;
    text-align: justify;
    margin: 10px 35px;
    line-height: 1.6;
}
span{
    font-size: 30px;
    color: blue;
    font-weight: bold;
}
.n3{
    height: 200px;
    border: 1px solid #84b067;
    margin: auto 5px;
}
.product{
    text-align: center;
}
.n4, .n5, .n6{
    display: flex;
    margin: 5px 5px;
    width: 100%;
    height: 200px;
}
.produits{
    border: 1px solid #84b067;    
    margin: auto 5px;
    width: 20%;
    height: 100%;
}
.pro{
    border: 1px solid #84b067;
    width: 33%;
    height: 100%;
    margin: auto 5px;
}
.pro img{
    width: 100%;
    height: 70%;
}
.pro h1{
    text-align: center; 
}
.n7{
    background-color: black;
    height: 100px;
    width: 100%;
}
.foot{
    color: white;
    text-align: center;
}


